<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script> 
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
script(type='text/javascript', src='./wtable.js')

div(style='width=100%; right:100%; border:2px solid black')
  div#reports(style='float:left; background:lime; width:200; height:100%; auto-flow:auto')
  div#reports(style='height:100%; background:red; auto-flow:auto')
